body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

nav.navbar.navbar-inverse {
  border-radius: 0;
  margin-bottom: 0;
  
  color: #fff;
  border: none;
  padding: 5px;
}

.login-area {
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*.login-link {
    color: gray;
    text-decoration: none;
}*/

/*.login-link:visited {
    color: #fff;
}*/

/*.login-link:hover {
    text-decoration: underline;
}*/

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 165px;
    font-size: 12px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}
.label {
    display: inline-block;
    margin-top: 5px;
    font-size: .9em;
    font-weight: normal;
}
.main-title {
    display: block;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 1px solid  #C0C0C0;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.post-date {
    position: left;
    left: 0px;
    bottom: -10px;
    color: #505050;

}

.post-content {
    margin-top: 5px;
    color: #505050;
}

