<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Multi User Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Multi User Blog
  </a>

  <div class="login-area">
    {% if user %}
     Hello {{user.name}}!<br> <br>
     <b><a class="login-link" href="/blog/newpost">New Post</a></b> <b>|
     </b> <b><a class="login-link" href="/logout">logout</a></b>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>
<br>
<br>
  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

