{% extends "base.html"%}

{% block content%}
<div class="row">
  <div class="col-md-12">
    <h2>Edit Posts</h2>
  </div>
  <div class="col-md-12">
    <form method="post">
      <div class="form-group">
        <label for="post_subject">Subject:</label>
        <input type="text" class ="form-control "name="subject" value="{{subject}}">
      </div>

      <div class="form-group">
        <label for="post_content">Content:</label>
        
          <textarea class ="form-group" name="content">{{content}}</textarea>
        </div>
        <button type="submit" class= "btn btn-primary btn-default-lg" name="submit" >Submit</button>
        
    </form>
  </div>
  {% if error %}
  <div class="alert alert-danger">
    <span class = "glyphicon glyphicon-alert" aria-hidden= "true"></span>
    {{error}}
  </div>
  {% endif %}
</div>
{% endblock %}