{% extends "base.html" %}
{% block content %}
<div class="col-md-6">
   {% if error %}
   <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{error}}
   </div>
   {% endif %}
</div>
{{post.render() | safe}}
<br>
<form method="post" role="form">

   <button><a id="post-delete" href="/blog/deletepost/{{post.key().id()}}">Delete</a></button>
   <button><a id="post-edit" href="/blog/editpost/{{post.key().id()}}">Edit</a></button>
   <input type="hidden" class="form-control" id="like" name="like" value="update">
         <button type="submit">Like {{NOL}}</button>
      </form>
   </div>
   <br>
   <div class="sub-work col-md-12">
      <form method="post" role="form" class="comment-form">
         <div class="form-group">
            <label for="comment">Comment:</label>
            <input type="text" class="form-control" id="comment" name="comment" value="">
         </div>
         
         <button type="submit">Submit</button>
      </form>
   </div>
   
   <br>

   <form method="post" role="form">
       <h4>
   <div class="sub-work col-md-12">
      {% for c in comments %}
      <blockquote>
         <br>
         <button><a href="/blog/deletecomment/{{post.key().id()}}/{{c.key().id()}}">
         Delete</a></button>
         &nbsp;
         <button><a href="/blog/editcomment/{{post.key().id()}}/{{c.key().id()}}">
         Edit</a></button>
         <br><br>
         <p>{{ c.comment }}</p>
         <footer>{{ c.getUserName() }}</footer>
      </blockquote>
      </form>
      {% endfor %}
   </div>
</div>
{% endblock %}

