{% extends "base.html" %}
{% block content %}
<head>
   <title>Sign Up</title>
   <style type="text/css">
      .label {text-align: right}
      .error {color: red}
   </style>
</head>
<body>
   <h2>Signup</h2>
   <form method="post">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username" value="{{username}}">
      <div class="error">
         {{error_username}}
      </div>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" value="">
      
      <div class="error">
         {{error_password}}
      </div>
      <label for="password">Verify Password</label>
      <br>
      <input type="password" name="verify" value="">
      <div class="error">
         {{error_verify}}
      </div>
      <label for="email">
      Email (optional)
      </label>
      <br>
      <input type="text" name="email" value="{{email}}">
      <div class="error">
         {{error_email}}
      </div>
      <br>
      <input type="submit">
   </form>
   <hr>
</body>
{% endblock %}